
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f5f6fa;
    padding: 30px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.logo-box{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #6366f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}

.sub{
    color: #555;
}

.gallery{
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 25px;
}

.side-list, .stack-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    gap: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.07);
    background: #fff;
}

.card-img{
    width: 120px;
    flex-shrink: 0;
}

.card-img img{
    width: 120px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.meta h3{
    margin-bottom: 4px;
    font-size: 16px;
}

.meta p{
    font-size: 13px;
    color: #555;
}

.tag{
    margin-top: 6px;
    display: inline-block;
    background: #6366f1;
    padding: 2px 7px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
}

.stack{
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.stack h4{
    margin-bottom: 10px;
    font-size: 17px;
}

.bigimg{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.bigimg img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

@media(max-width:850px){
    .gallery{
        grid-template-columns: 1fr;
    }
}

@media(max-width:500px){
    .card{
        flex-direction: column;
    }
    .card-img{
        width: 100%;
    }
    .card-img img{
        width: 100%;
        height: 160px;
    }
}


